body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 30px;
    height: 30px;
    background-color: orange;
}

.container {
    background-color: pink;
    width: 600px;
    height: 600px;
    display: flex;
}

.rowContainer {
    margin: 5px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}