body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

button {
    margin: 30px;
}

.box {
    background-color: orange;
    box-sizing: border-box;
}

.container {
    padding: 0px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.rowContainer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 800px;
}